﻿@model sandti_mvc.Models.Job

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Jobs", FormMethod.Post, new {enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="alert alert-danger" id="error-div" style="display:none">
        <span id="view-err"></span>
    </div>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.JobImage)


    <div class="form-group">
        @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobContent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobContent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobContent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="upload" id="myImage" />
            @Html.ValidationMessageFor(model => model.JobImage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryID, "فئة الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حفظ" class="btn btn-default" id="save" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("العودة إلى القائمة", "Index")
</div>

@section scripts{
<script>
    $(function () {
        $("#save").click(function () {
            //هناك مشكلة تكرار الخطأ عند النقر المتكرر

            //Check if the input is Empty
            //if ($("#JobImage").val == "") {
            //    $("#error-div").fadeIn();
            //    $("#view-err").append("رجاءً قم باختيار صورة");
            //    return false;
            //}

            if ($("#myImage").val != "") {
                //Check if the Image Size is valid (2 MB)
                var myFileSize = document.getElementById("myImage").files[0].size / 1024 / 1024;
                if (myFileSize > 2) {
                    $("#error-div").fadeIn();
                    $("#view-err").append("رجاءً قم باختيار صورة حجمها أقل من 2 ميغا بايت");
                    return false;
                }
                //Check if the Image extension is valid
                var filename = document.getElementById("myImage").value;
                var extensionImg = filename.substr(filename.lastIndexOf('.') + 1);
                var vaildExtension = ['jpg', 'png', 'gif', 'bmp'];

                if ($.inArray(extensionImg, vaildExtension) == -1) {
                    $("#error-div").fadeIn();
                    $("#view-err").append("يبدو أنّ الملف المرفق ليس صورة");
                    return false;
                }
            }
        });
    });
</script>
    }

