﻿
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Apply</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ApplyForJob</h4>
        <div>
            @{ 
                if(ViewBag.Result != null)
                {
                    <h3>@ViewBag.Result</h3>
                }
            }
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("رسالة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Message", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("رسالة", "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تأكيد" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
