﻿@model sandti_mvc.Models.ApplyForJob

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>الحذف</h2>

<h3>هل ترغب بالتأكيد في إلغاء التقدم إلى هذه الوظيفة؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            عنوان الوظيفة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobTitle)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.user.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.UserType)
        </dd>*@

        <dt>
           نص الرسالة
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            تاريخ التقدم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تأكيد الإلغاء" class="btn btn-default" /> |
            @Html.ActionLink("العودة إلى القائمة", "GetJobsByUser")
        </div>
    }
</div>
