﻿@model sandti_mvc.Models.ApplyForJob

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ApplyForJob</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.UserId)



    <div class="form-group">
        @Html.LabelFor(model => model.JobId, "اسم الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.job.JobTitle
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserId, "اسم المستخدم", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.user.UserName
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ApplyDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Model.ApplyDate
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حفظ" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("العودة إلى السجل", "GetJobsByUser")
</div>
