﻿@using Microsoft.AspNet.Identity
@using WebApplication1.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        var db = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var CurrentUser = db.Users.Where(a => a.Id == UserID).SingleOrDefault();
        @Html.AntiForgeryToken()
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <strong>مرحباً بك يا: @CurrentUser.UserName </strong>
            <span class="glyphicon glyphicon-chevron-down" ></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-user">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="text-center">
                                <span class="glyphicon glyphicon-user img-size"></span> 
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <p class="text-right">
                                <strong>@CurrentUser.UserName </strong>
                            </p>
                            <a href="~/Account/EditProfile" class="btn btn-primary btn-block">تعديل الحساب</a>
                            @if (CurrentUser.UserType == "الناشرون")
                            {
                                <a href="~/home/GetJobsPublisher" class="btn btn-success">الوظائف التي قمت بنشرها</a>
                                <a href="~/Jobs/Create" class="btn btn-success">نشر وظيفة جديدة</a>

                            }
                            else
                            {
                                <a href="~/Home/GetJobsByUser" class="btn btn-success btn-block">الوظائف التي تقدمتَ إليها</a>
                            }
                        </div>
                    </div>

                </div>


            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p><a href="javascript:document.getElementById('logoff').submit()" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-log-out"></i>تسجيل الخروج</a></p>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </li>

    @*<li>
        @Html.ActionLink("مرحباً بك يا " + User.Identity.GetUserName(), "Index","Manage")
    </li>
    <li><a href="javascript:document.getElementById('logoff').submit()"><i class="glyphicon glyphicon-log-out"></i>تسجيل الخروج</a></li>*@
</ul>
    }
}
else {
<ul class="nav navbar-nav navbar-right">
    <li><a href="~/Account/Login"><i class="glyphicon glyphicon-user"></i>تسجل الدخول</a></li>
    <li><a href="~/Account/Register"><i class="glyphicon glyphicon-lock"></i>التسجيل</a></li>
</ul>
}
