﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Index" class="navbar-brand">
                    <img src="~/images/Sandati Logo.png" class="logo-size" />
                </a>
            </div>
            @*https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp*@
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/home/index"><i class="glyphicon glyphicon-home"></i>الرئيسية</a></li>
                    <li><a href="~/home/about"><i class="glyphicon glyphicon-info-sign"></i>حول الموقع</a></li>
                    <li><a href="~/home/contact"><i class="glyphicon glyphicon-envelope"></i>اتصل بنا</a></li>
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <input type="text" name="searchName" id="searchName" placeholder="ابحث هنا ..." />
                        }
                    </li>

                </ul>

                <!-- Partial Login-->
                @Html.Partial("_Login")
            </div>

        </div>
    </nav>
    @*-------------------------------------------*@
    <div class="container">
        <div class="row" style="min-height: 550px;">
            @RenderBody()
        </div>
    </div>
    <!--Footer-->
    <footer class="myfooter">
        <div class="container">
            <div class="row">
                @*//البلوج الأول*@
                <div class="col-md-4">
                    <h3><i class="glyphicon glyphicon-question-sign"></i>من نحن؟</h3>
                    <p>
                        فرسان البرمجة هي مؤسسة سعودية محلية تقوم بتقديم خدمات برمجة والتصميم المواقع الإلكترونية وتطبيقات الهواتف الذكية والتصميم ثلاثي الأبعاد وغير ذلك في السوق السعودي. نقوم بتقديم الخدمات لعملائنا أينما كانوا. نركز على خدمة المشاريع والأعمال الصغيرة إلى المتوسطة مع جميع متطلبات الاتصال والانترنت والاستضافة والبرمجة والتصميم وأمن المعلومات. نفتخر بأن نكون من الخيارات الأولى لبعض المؤسسات الصغيرة. ونتطلع إلى دراسة متطلباتكم وتقديم حلولنا لكم.
                    </p>
                </div>
                @*//البلوج الثاني*@
                <div class="col-md-4">
                    <h3><i class="glyphicon glyphicon-globe"></i>روابط هامة</h3>
                    <ul>
                        <li><a href="#">وظائف للقطاع العام</a></li>
                        <li><a href="#">وظائف للقطاع الخاص</a></li>
                        <li><a href="#">وظائف خارج البلاد</a></li>
                        <li><a href="#">وظائف متنوعة</a></li>
                    </ul>
                </div>
                @*//البلوج الثالث*@
                <div class="col-md-4">
                    <h3><i class="glyphicon glyphicon-envelope"></i>تواصل معنا</h3>
                    <ul>
                        <li><a href="#">صفحتنا على الفيس بوك</a></li>
                        <li><a href="#">تابعنا على تويتر</a></li>
                        <li><a href="#">شاهدنا على اليوتيوب</a></li>
                        <li><a href="#">اترك لنا رسالة</a></li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="subfooter">
            <span>
                جميع الحقوق محفوظة لموقع التوظيف - @Html.Label(DateTime.Now.ToString("yyyy"))
            </span>
        </div>
    </footer>
    @*-------------------------------------------*@
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required:false)
</body>
</html>
